# in .github/workflows/continuous_deployment.yml
name: Continuous deployment for android
on:
  workflow_run:
    branches: [main]
    workflows: [Continuous integration]
    types: [completed]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: build cargo-quad-apk docker image
        run: docker build -t oli-obk/cargo-quad-apk https://github.com/oli-obk/android-rs-glue.git
      - name: run cargo quad-apk inside docker image
        run: docker run --rm -v $(pwd)":/root/src" -w /root/src oli-obk/cargo-quad-apk cargo quad-apk build --release
      - run: mkdir dist
      - run: cp target/android-artifacts/release/apk/fireflydroid.apk dist/firefly.apk

      - uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          keep_files: true


